page-enter-names {
  .background {
     background: url('/assets/img/plume.png') no-repeat;
    // background: url('/assets/img/47.jpg') no-repeat;
    // background-size: cover;
//     background:
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
// linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
// background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
// background-color: #840b2a;
  }
  .form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    text-align: center;
  }
  input {
    // background-color: rgba(0,0,0,0.1);
  }
  .item.item-input {
    background-color: transparent;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// @font-face {
//   font-family: 'fontello';
  // src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  // src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       // url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       // url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       // url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
//   font-weight: normal; font-style: normal;
// }

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

.icon-home {
  float: left;
  margin-right:10px;
}

.icon-home p {
  font-size: 30px;

}
.icon-cog {
  float: right;
  margin-left:10px;
}


// .icon-home:after     { content: "\2302"; }
// .icon-cog:after      { content: "\2699"; }
.icon-cw:after       { content: "\27f3"; }
.icon-location:after { content: "\e724"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  margin: 0;
  padding: 0;
}

html {
  // background: #f7f7f7 url(http://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav li:before {
  content: "";
  display: block;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  // background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  // background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  margin: 40px;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 80%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
}
