page-home {
  text-align: center;
  position: relative;


  .background {
    background: url('/assets/img/landing.jpg') no-repeat;
    background-size: cover;
  }

  h2 {
    color: red;
  }
  .logo {
    // width:250px;
     // margin: 0 auto;
     // position: relative;
     // position: absolute;
  // top: 30%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: -80px;
  }
  .letsplay {
    // position: center;
    // left: 50%;
    // top: 75%;
    // margin: auto;
    // margin: center;
    margin-top: 100px;
    margin-bottom: 20px;
    // margin-left: 130px;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
    font-weight: bold;
    color: #0abdd8;
    font-family: $font-family-base;
    text-align: center;
    font-size: 1.4em;

  }
.rules {
    width: auto;
    margin: auto;
    display: block;
    padding-left: 78px;
    padding-right: 78px;
    color: black;
    font-weight: bold;
    color: #0abdd8;
    font-family: $font-family-base;
    text-align: center;
    font-size: 1.4em;
}
.stats {
    width: auto;
    margin: auto;
    margin-top: 20px;
    display: block;
    padding-left: 65px;
    padding-right: 65px;
    color: black;
    font-weight: bold;
    color: #0abdd8;
    font-family: $font-family-base;
    text-align: center;
    font-size: 1.4em;
}
img {

   margin-top: -80px;
   margin-bottom: 80px;

}

}
